<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Cindy | Development & Design</title>
  <link rel="stylesheet" href="/css/style.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600;800&display=swap" rel="stylesheet">
</head>
<body>
  <header>
  <nav class="nav">
    <ul>
      <li><a href="#home" class="active">Inicio</a></li>
      <li><a href="#projects">Proyectos</a></li>
      <li><a href="#about">Sobre mi</a></li>
      <li><a href="#contact">Contacto</a></li>
    </ul>
  </nav>
</header>


  <main>
    <!-- HERO SECTION -->
    <section id="home" class="hero">
      <div class="left">
        <h1>Development<br>& design</h1>
        <p><strong>Let’s Talk</strong><br>cindy.torrez.lopez@gmail.com</p>
        <p>Hi, I'm Cindy, a systems engineering student. I’m focused on front-end UX/UI design and also have experience in backend development.</p>
      </div>
      <div class="right">
        <img src="/img/yo.png" alt="Cindy Drawing" class="hero-img">
           
          
          </div>
    </section>

    <!-- SKILLS SECTION -->
    <section class="skills">
      <h2>Mis <strong> habilidades</strong></h2>
      <div class="grid">
        <div class="skill"><img src="/img/1.svg" alt="Git"><p>Node js</p></div>
        <div class="skill"><img src="/img/2.svg" alt="JavaScript"><p>PHP</p></div>
        <div class="skill"><img src="/img/3.svg" alt="Sass"><p>Python</p></div>
        <div class="skill"><img src="/img/4.svg" alt="NestJS"><p>C#</p></div>
        <div class="skill"><img src="/img/5.svg" alt="Storybook"><p>Kotlin</p></div>
        <div class="skill"><img src="/img/13.svg" alt="Sass"><p>Mongo</p></div>
        <div class="skill"><img src="/img/6.svg" alt="NestJS"><p>Figma</p></div>
        <div class="skill"><img src="/img/7.svg" alt="Git"><p></p>HTML</div>
        <div class="skill"><img src="/img/8.svg" alt="Storybook"><p>CSS</p></div>
        <div class="skill"><img src="/img/9.svg" alt="Socket.io"><p>EJS</p></div>
        <div class="skill"><img src="/img/10.svg" alt="Sass"><p>Js</p></div>
        <div class="skill"><img src="/img/11.svg" alt="Storybook"><p>Docker</p></div>
        <div class="skill"><img src="/img/12.svg" alt="Socket.io"><p>Mysql</p></div>
        <div class="skill"><img src="/img/14.svg" alt="Socket.io"><p>Postgresql</p></div>
        <div class="skill"><img src="/img/15.svg" alt="Sass"><p>Github</p></div>
        
      </div>
    </section>

    <!-- PROJECTS SECTION -->
    <section id="projects" class="projects">
      <h2>Mis <strong>Proyectos</strong></h2>
      <div class="project">
        <img src="/img/17.png" alt="Prototipos UX-UI">
        <div class="info">
          <h3>01<br>Proyectos en Figma / Diseño UX-UI</h3>
          <p>Explora mis principales trabajos en Figma relacionados con diseño UX/UI: farmacia, librería virtual y mi portafolio personal.</p>

          <a href="https://www.figma.com/design/iMYFxCy2GC6p4WHqBEz730/Farmacia-SJ?node-id=33-549&t=VfuWlwL7EWQQTLmO-1" class="project-link" target="_blank">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="icon-link" viewBox="0 0 16 16">
              <path d="M6.354 5.5H2.5a.5.5 0 0 0 0 1h2.793L.146 11.646a.5.5 0 1 0 .708.708L6 7.207V10a.5.5 0 0 0 1 0V6.146a.5.5 0 0 0-.146-.354z"/>
              <path d="M11.5 2h-5a.5.5 0 0 0 0 1h4.293L4.146 9.646a.5.5 0 0 0 .708.708L11.5 3.707V8a.5.5 0 0 0 1 0v-5a.5.5 0 0 0-.5-.5z"/>
            </svg>
            Farmacia 26 de Julio
          </a>

          <a href="https://www.figma.com/design/k0HPZbpvXdwooyDT4u63Qx/Library?node-id=442-2&t=VfuWlwL7EWQQTLmO-1" class="project-link" target="_blank">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="icon-link" viewBox="0 0 16 16">
              <path d="M6.354 5.5H2.5a.5.5 0 0 0 0 1h2.793L.146 11.646a.5.5 0 1 0 .708.708L6 7.207V10a.5.5 0 0 0 1 0V6.146a.5.5 0 0 0-.146-.354z"/>
              <path d="M11.5 2h-5a.5.5 0 0 0 0 1h4.293L4.146 9.646a.5.5 0 0 0 .708.708L11.5 3.707V8a.5.5 0 0 0 1 0v-5a.5.5 0 0 0-.5-.5z"/>
            </svg>
            Biblioteca historia de Bolivia
          </a>

          <a href="https://www.figma.com/design/mIcuk7uKguUf7McS5crmkC/Sin-t%C3%ADtulo?node-id=1-3395&t=DjyO3vK4cAX9Udq9-1" class="project-link" target="_blank">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="icon-link" viewBox="0 0 16 16">
              <path d="M6.354 5.5H2.5a.5.5 0 0 0 0 1h2.793L.146 11.646a.5.5 0 1 0 .708.708L6 7.207V10a.5.5 0 0 0 1 0V6.146a.5.5 0 0 0-.146-.354z"/>
              <path d="M11.5 2h-5a.5.5 0 0 0 0 1h4.293L4.146 9.646a.5.5 0 0 0 .708.708L11.5 3.707V8a.5.5 0 0 0 1 0v-5a.5.5 0 0 0-.5-.5z"/>
            </svg>
            Portafolio Web Personal
          </a>
        </div>
      </div>

      <div class="project reverse">
        <div class="info">
          <h3>02<br>Data Storytelling</h3>
          <p>Explora los análisis visuales realizados en Notion aplicando regresión logística.</p>

          <a href="https://speckle-sumac-741.notion.site/PR-CTICA-Modelos-de-Regresi-n-Log-stica-1ed61a2eade980619061d81a1a6e5270" class="project-link" target="_blank">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="icon-link" viewBox="0 0 16 16">
              <path d="M6.354 5.5H2.5a.5.5 0 0 0 0 1h2.793L.146 11.646a.5.5 0 1 0 .708.708L6 7.207V10a.5.5 0 0 0 1 0V6.146a.5.5 0 0 0-.146-.354z"/>
              <path d="M11.5 2h-5a.5.5 0 0 0 0 1h4.293L4.146 9.646a.5.5 0 0 0 .708.708L11.5 3.707V8a.5.5 0 0 0 1 0v-5a.5.5 0 0 0-.5-.5z"/>
            </svg>
            Titanic – Regresión logística
          </a>

          <a href="https://speckle-sumac-741.notion.site/PR-CTICA-Modelos-de-Regresi-n-Log-stica-1ed61a2eade980198976fa01a843f149" class="project-link" target="_blank">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="icon-link" viewBox="0 0 16 16">
              <path d="M6.354 5.5H2.5a.5.5 0 0 0 0 1h2.793L.146 11.646a.5.5 0 1 0 .708.708L6 7.207V10a.5.5 0 0 0 1 0V6.146a.5.5 0 0 0-.146-.354z"/>
              <path d="M11.5 2h-5a.5.5 0 0 0 0 1h4.293L4.146 9.646a.5.5 0 0 0 .708.708L11.5 3.707V8a.5.5 0 0 0 1 0v-5a.5.5 0 0 0-.5-.5z"/>
            </svg>
            Diabetes – Regresión logística
          </a>
        </div>
        <img src="/img/16.png" alt="Storytelling Visualization">
      </div>

      <div class="project">
      <img src="/img/18.png" alt="Árbol de decisión Diabetes">
      <div class="info">
        <h3>03<br>Colaboraciones en Analítica de Datos</h3>
        <p>Implementación de modelos de clasificación como árboles de decisión utilizando el dataset de diabetes en Google Colab.</p>

        <a href="https://colab.research.google.com/drive/17qDOJ_cc1lWD06eAJFNITJp-7srMsklS?usp=sharing&classId=0b1a3c0e-46f3-4d29-9545-6f12bcca8a3a&assignmentId=4fd6fb16-6cfc-441d-be0d-fb9cc333dc0d&submissionId=970855a5-066d-2590-d34d-36636531bf9e"
          class="project-link" target="_blank">
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="icon-link" viewBox="0 0 16 16">
            <path d="M6.354 5.5H2.5a.5.5 0 0 0 0 1h2.793L.146 11.646a.5.5 0 1 0 .708.708L6 7.207V10a.5.5 0 0 0 1 0V6.146a.5.5 0 0 0-.146-.354z"/>
            <path d="M11.5 2h-5a.5.5 0 0 0 0 1h4.293L4.146 9.646a.5.5 0 0 0 .708.708L11.5 3.707V8a.5.5 0 0 0 1 0v-5a.5.5 0 0 0-.5-.5z"/>
          </svg>
          Ver notebook en Google Colab
        </a>
      </div>
    </div>

    <div class="project reverse">
      <div class="info">
        <h3>04<br>Repositorios (GitHub)</h3>
        <p>Accede a mis proyectos backend y frontend publicados en GitHub, incluyendo sistemas distribuidos, portal personal y sistema de farmacia.</p>

        <a href="https://github.com/innovatesolutionstudio/Farmacia" class="project-link" target="_blank">
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="icon-link" viewBox="0 0 16 16">
            <path d="M6.354 5.5H2.5a.5.5 0 0 0 0 1h2.793L.146 11.646a.5.5 0 1 0 .708.708L6 7.207V10a.5.5 0 0 0 1 0V6.146a.5.5 0 0 0-.146-.354z"/>
            <path d="M11.5 2h-5a.5.5 0 0 0 0 1h4.293L4.146 9.646a.5.5 0 0 0 .708.708L11.5 3.707V8a.5.5 0 0 0 1 0v-5a.5.5 0 0 0-.5-.5z"/>
          </svg>
          Farmacia 25 de Julio
        </a>

        <a href="https://github.com/innovatesolutionstudio/Biblioteca_Virtual" class="project-link" target="_blank">
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="icon-link" viewBox="0 0 16 16">
            <path d="M6.354 5.5H2.5a.5.5 0 0 0 0 1h2.793L.146 11.646a.5.5 0 1 0 .708.708L6 7.207V10a.5.5 0 0 0 1 0V6.146a.5.5 0 0 0-.146-.354z"/>
            <path d="M11.5 2h-5a.5.5 0 0 0 0 1h4.293L4.146 9.646a.5.5 0 0 0 .708.708L11.5 3.707V8a.5.5 0 0 0 1 0v-5a.5.5 0 0 0-.5-.5z"/>
          </svg>
          Biblioteca Virtual (Sistema Distribuido)
        </a>

        <a href="https://github.com/Ratita114/mi-portal-vercel" class="project-link" target="_blank">
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="icon-link" viewBox="0 0 16 16">
            <path d="M6.354 5.5H2.5a.5.5 0 0 0 0 1h2.793L.146 11.646a.5.5 0 1 0 .708.708L6 7.207V10a.5.5 0 0 0 1 0V6.146a.5.5 0 0 0-.146-.354z"/>
            <path d="M11.5 2h-5a.5.5 0 0 0 0 1h4.293L4.146 9.646a.5.5 0 0 0 .708.708L11.5 3.707V8a.5.5 0 0 0 1 0v-5a.5.5 0 0 0-.5-.5z"/>
          </svg>
          Portafolio Web Personal (Node.js)
        </a>
      </div>
      <img src="/img/16.png" alt="GitHub Repositories">
    </div>


    </section>

    <!-- EXPERTISE SECTION -->
    <section id="about" class="expertise">
      <h2>Experiencia</h2>
      <div class="grid">
        <div><h4>Teamwork</h4><p>Colaboro en entornos multidisciplinarios, aportando comunicación efectiva, empatía y responsabilidad para lograr objetivos comunes.</p></div>
        <div><h4>Data Analytics</h4><p>Analizo y visualizo datos para generar insights valiosos, usando herramientas como Python, SQL, Power BI y Locker Studio.</p></div>
        <div><h4>Development</h4><p>Transformo ideas en soluciones completas: desde prototipos hasta código, combinando frontend y backend de forma eficiente.</p></div>
        <div><h4>Branding</h4><p>Diseño identidades visuales impactantes aplicando conceptos sólidos para fortalecer la presencia digital.</p></div>
        <div><h4>UI Design</h4><p>Creo interfaces modernas, responsivas y visualmente claras, cuidando cada detalle para una experiencia fluida.</p></div>
        <div><h4>Branding</h4><p>Aplico procesos centrados en el usuario para mejorar la accesibilidad, funcionalidad y satisfacción del producto.</p></div>
      </div>
    </section>

    <!-- CERTIFICATIONS SECTION -->
<!-- CERTIFICATIONS SECTION --> 
<section class="certifications">
  <h2>Certificaciones y Logros</strong></h2>
  <div class="carousel">
    <div class="slide">
      <img src="/img/microsoft.jpg" alt="Azure Fundamentals">
      <p>Obtuve este certificado donde aprendí los conceptos fundamentales de la nube, gestión de recursos y gobernanza en Microsoft Azure.</p>
      <hr>
      <h4>Azure Fundamentals</h4>
      <h4>Microsoft, 2022</h4>
    </div>

    <div class="slide dark">
      <img src="/img/microsoft.jpg" alt="Azure Governance">
      <p>En este curso profundicé en la administración y políticas de gobierno en entornos de Azure para garantizar control y seguridad.</p>
      <hr>
      <h4>Azure Management Governance</h4>
      <h4>Microsoft, 2022</h4>
    </div>

    <div class="slide">
      <img src="/img/microsoft.jpg" alt="Análisis de Datos">
      <p>Aprendí los conceptos básicos del análisis de datos, desde la recopilación hasta la interpretación para la toma de decisiones.</p>
      <hr>
      <h4>Introducción al Análisis de Datos</h4>
      <h4>Microsoft, 2022</h4>
    </div>

    <div class="slide dark">
      <img src="/img/microsoft.jpg" alt="Power BI">
      <p>Exploré la creación de visualizaciones e informes interactivos utilizando Power BI como herramienta de análisis de datos.</p>
      <hr>
      <h4>Introducción a la Compilación con Power BI</h4>
      <h4>Microsoft, 2022</h4>
    </div>

    <div class="slide">
      <img src="/img/microsoft.jpg" alt="Descripción Análisis de Datos">
      <p>Estudié la identificación y descripción de procesos analíticos, herramientas y tipos de datos en contextos empresariales.</p>
      <hr>
      <h4>Descripción del Análisis de Datos</h4>
      <h4>Microsoft, 2022</h4>
    </div>

    <div class="slide dark">
      <img src="/img/cisco.png" alt="Linux Essentials">
      <p>Desarrollé habilidades fundamentales en Linux, incluyendo comandos básicos, navegación de archivos y gestión de sistemas.</p>
      <hr>
      <h4>NDG Linux Essentials</h4>
      <h4>Cisco Networking Academy, 2022</h4>
    </div>

    <div class="slide">
      <img src="/img/cisco.png" alt="Get Connected">
      <p>Aprendí a identificar y solucionar problemas comunes de hardware, software y redes, aplicando soluciones prácticas iniciales.</p>
      <hr>
      <h4>Get Connected</h4>
      <h4>Cisco Networking Academy, 2022</h4>
    </div>

    <div class="slide dark">
      <img src="/img/oracle.jpg" alt="BD Oracle">
      <p>Demostré competencia en diseño y gestión de bases de datos al aprobar el examen final del curso oficial de Oracle.</p>
      <hr>
      <h4>Bases de Datos – Examen Final Aprobado</h4>
      <h4>Oracle Academy, 2022</h4>
    </div>

    <div class="slide">
      <img src="/img/oracle.jpg" alt="BD Curso Oracle">
      <p>Completé satisfactoriamente el curso de fundamentos de bases de datos, abarcando modelos relacionales y SQL básico.</p>
      <hr>
      <h4>Finalización del Curso de Bases de Datos</h4>
      <h4>Oracle Academy, 2022</h4>
    </div>

    <div class="slide dark">
      <img src="/img/u.png" alt="Animación Digital">
      <p>Fui reconocida por mis habilidades en diseño visual, incluyendo creación de personajes, retoque de imágenes y contenido para redes sociales.</p>
      <hr>
      <h4>Excelencia en Animación Digital</h4>
      <h4>Universidad del Valle, 2022</h4>
    </div>

    <div class="slide">
      <img src="/img/u.png" alt="Inglés I">
      <p>Obtuve este reconocimiento por mi dedicación y alto desempeño académico en la asignatura de Inglés I.</p>
      <hr>
      <h4>Excelencia en Inglés I</h4>
      <h4>Universidad del Valle, 2022</h4>
    </div>

    <div class="slide dark">
      <img src="/img/google.png" alt="Azure Edición Especial">
      <p>Participé en una conferencia educativa organizada por Microsoft y Google donde se abordaron estrategias de gestión y gobernanza en Azure.</p>
      <hr>
      <h4>Azure Management (Edición Especial)</h4>
      <h4>Microsoft + Google, 2025</h4>
    </div>
  </div>
</section>



    <!-- CONTACT SECTION -->
    <section id="contact" class="contact">
      <h2>Let’s talk!</h2>
      <a href="mailto:cindy.torrez.lopez@gmail.com">cindy.torrez.lopez@gmail.com</a>
    </section>
    <div class="footer-contact">
  <p>2025 © — Made by Cindy Torrez</p>
  <div class="footer-links">
    <a href="https://github.com/Ratita114" target="_blank">GitHub</a>
    <a href="https://www.instagram.com/cindy_torrezl?igsh=Z2Z5eXRpazE2MW4z" target="_blank">Instagram</a>
    <a href="https://www.linkedin.com/feed/" target="_blank">LinkedIn</a>
  </div>
</div>

  </main>
</body>
</html>
